*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

$blue-color: #267FFF;
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #e9efff;
    color: #1b1f29b8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.row-middle-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.row-middle-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.column-middle-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    width: 420px;
}
.login-container{
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 5px 10px 10px #2680ff10;
    border-radius: 15px;
    padding: 50px 20px;
    form{
        width: 100%;
        div{
            margin: 5px;
            width: 100%;
            input{
                width: 100%;
                height: 45px;
                border-radius: 6px;
                border: 2px solid #0f438c3e;
                background: none;
                padding-left: 10px;
                color: #313740;
                font-weight: 700;
            }
            
        }
        button{
            width: 100%;
            height: 45px;
            border-radius: 6px;
            border: none;
            background-color: #267FFF;
            color: #fff;
            font-weight: 500;
            cursor: pointer;
            margin: 5px;
            &:hover{
                opacity: .9;
            }
        }
    }
    .login-one{
        width: 100%;
        justify-content: space-between;
        margin-bottom: 35px;
        div{
            a{
                &:hover{
                    rect{
                        opacity: .7;
                    }
                }
                svg{
                    width: 20px;
                    rect{
                        fill: $blue-color;
                    }
                }
            }
        }
    }
}
.login-two{
    width: 100%;
    span{
        color: #7e8795;
        font-weight: 600;
        font-size: 15px;
        margin: 10px;
        width: 100%;
        text-align: center;
    }
    span:nth-of-type(2){
        color: #434a53;
        a{
            color: #267FFF;
            &:hover{
                text-decoration: none;
            }
        }
    }
    button{
        width: 100%;
        height: 45px;
        border-radius: 6px;
        border: none;
        cursor: pointer;
        background-color: #cfddf3;
        color: #525b67;
        font-weight: 600;
        &:hover{
            opacity: .9;
        }
    }
}
.password-area{
    position: relative;
    a{
        position: absolute;
        right: 10px;
        text-decoration: none;
        color: #7e8795;
    }
}